{% extends "base.html" %} {% block extrahead %}
<script>
  console.log("Hello World");
</script>
{% endblock extrahead %} {% block content %} {% if user.is_authenticated %}
<a href="{% url 'user:signout' %}">로그아웃</a> <br />
<a href="{% url 'article:new' %}">글 작성</a>
{% else %}
<a href="{% url 'user:signin' %}">로그인</a> <br />
<a href="{% url 'user:signup' %}">회원가입</a>
{% endif %}

<hr />

{% for article in articles %}
<div>
  <a href="{% url 'article:detail' id=article.id %}">
    {{ article.title}} <br />
    <br />
    {{article.content}}
    <br />
    <i>작성자: {{article.author.username}}</i>
  </a>
  <p>
    <a href="{% url 'article:edit' id=article.id %}">글 수정</a>
    <a href="{% url 'article:destroy' id=article.id %}">글 삭제</a>
  </p>
</div>
{% endfor %} {% endblock content %}
